<% content_for :title do %>
  <%= "Tarefas" %>
<% end %>

<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th>Mantis</th>
      <th>Type</th>
      <th>Description</th>
      <th>Status</th>
      <th>Estimated Time</th>
      <th>Complexity</th>
      <th>Skill</th>
      <th>Esforço</th>
      <th>Planejada?</th>
      <th>Time</th>
      <th>Sprint</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="<%= css_status_class task.status %>">
        <td><%= link_to task.mantis, "http://intranet.sefa.pa.gov.br/mantis/view.php?id=#{task.mantis}",
                  target: "_blank" %></td>
        <td><%= task.task_type %></td>
        <td><%= task.description %></td>
        <td>
          <%= link_to edit_task_path(task), class: "btn btn-#{css_status_class(task.status)} btn-xs",
                title: "Change Status",
                data: { remote: true } do %>
                <%= task.status %>
          <% end  %>
        </td>
        <td>
          <%= task.estimated_time %>
        </td>
        <td>
          <%= task.complexity %>
        </td>
        <td>
          <%= task.skill %>
        </td>
        <td>
          <%= task.effort_made %>
        </td>
        <td>
          <%= task.planed %>
        </td>
        <td>
          <%= task.team.name %>
        </td>
        <td>
          <%= task.sprint_number %>
        </td>

        <td>
          <%= show_link task %>
          <%= edit_link edit_task_path(task) %>
          <%= delete_link task %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>

<div id="div-modal-change-status">
  <%= render "modal_change_status" %>
</div>
