<% content_for :title do %>
  <%= "Task" %>
<% end %>

<p>
  <strong>Mantis:</strong>
  <%= @task.mantis %>
</p>

<p>
  <strong>Type:</strong>
  <%= @task.task_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Esforço estimado:</strong>
  <%= @task.estimated_time %> <span> - </span>
  <%= @task.complexity %>     <span> - </span>
  <%= @task.skill %>
</p>

<p>
  <strong>Esforço realizado:</strong>
  <%= @task.effort_made %>
</p>

<p>
  <strong>Membro:</strong>
  <%= @task.member %>
</p>

<p>
  <strong>Planejada?</strong>
  <%= @task.planed %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
